<h1 class = "newUsersTitle"> Create Your Todos Manager account </h1>
<section class = "UsersNew">
<%= form_with url: users_path do |form| %>
  <div class = "formSection">
    <p class = "userformInput-lable"> First name : </p>
    <%= form.text_field :first_name, class: "userformInput" %>
  </div>
   <div class = "formSection">
      <p class = "userformInput-lable"> Last name : </p>
      <%= form.text_field :last_name, class: "userformInput" %>
   </div>
   <div class = "formSection">
      <p class = "userformInput-lable"> Email : </p>
      <%= form.email_field :email, class: "userformInput" %>
   </div>
   <div class = "formSection">
      <p class = "userformInput-lable"> Password : </p>
      <%= form.password_field :password, class: "userformInput" %>
   </div>
   <div class = "formSection">
      <%= form.submit "Sign-Up!", class:"userform-submit" %>
   </div>
<% end %>
</section>
