
<main class="TodoPageMain">
  <article>
  <h1 class="TodoPage-title" >My Todo-List</h1>

    <%= form_with(url: "/todos", class:"AddTodo", method: "post") do %>
      <%= text_field_tag("todo_text", value = "What's next?", class:'AddTodo-Text') %>
      <%= date_field_tag("due_date", value = nil, class: 'AddTodo-Date') %>
      <%= submit_tag("Add", class:'AddTodo-Button') %>
    <% end %>

    <%= render partial:"todo-section", locals: {
      section_title:"Overdue",
      todos:Todo.overdue,
      show_due_date: true
      }%>
    <%= render partial:"todo-section", locals: {
      section_title:"Due Today",
      todos:Todo.duetoday,
      show_due_date: false
      }%>
    <%= render partial:"todo-section", locals: {
      section_title:"Due Later",
      todos:Todo.duelater,
      show_due_date: true
      }%>
  </article>
</main>
